:root {
  --purp-blue: #4703A6;
  --lighter-purp: #6F23D9;
  --bright-purp: #B679F2;
  --pink: #CDA7F2;
  --white: #F2F2F2;
  --gray: #a7a7a7;
  --font-size: 1.3rem;
  --poppins: 'Poppins', sans-serif;
  --inter: 'Inter', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--white);
  font-size: var(--font-size);
  font-family: var(--inter);
}

/* navigation */

nav {
  font-family: var(--inter);
  font-size: 20px;
  padding: 1rem;
  border-bottom: 2px solid var(--purp-blue);
}

nav ul li:last-child {
  border-bottom: 1px solid var(--blue);
 }

nav a h1 {
  font-family: var(--poppins);
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

nav li:first-child {
  flex-basis: 100%;
  text-align: center;
  border: none;
}

nav ul a {
  color: var(--bright-purp);
  text-decoration: none;
  display: block;
  transition: 0.5s;
}

.signed-in {
  color: var(--bright-purp);
  cursor: pointer;
}

.signed-in img {
  width: 40px;
  height: 40px;
  border-radius: 50px;

}

.logout-btn {
  color: var(--bright-purp);
  cursor: pointer;
}

.login-btn,
.register-btn,
.logout-btn {
  transition: 0.5s;
}

.login-btn:hover,
.register-btn:hover,
.logout-btn:hover {
  color: white;
  padding: 1rem;
  background-color: var(--bright-purp);
  border-radius: 10px;
}

/* media queires */

@media (min-width: 850px) {
  nav {
    max-width: 1200px;
    margin: 0 auto;
  }

  nav ul li:first-child {
    flex-basis: auto;
    text-align: left;
    margin-right: auto;
  }
}

/* default classes */

.active {
  background-color: gray;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.input-group {
  position: relative;
  margin-bottom: 20px;
}

.user-input {
  background-color: rgba(0,0,0,0);
  border: 2px solid var(--purp-blue);
  width: 300px;
  border-radius: 100px;
  padding: 8px;
  font-weight: 400;
  font-size: 18px;
  text-indent: 18px;
  color: var(--pink);
}

.user-input:focus {
  outline: none;
}

.user-input-label {
  color: var(--pink);
  background-color: var(--white);
  font-size: 11px;
  position: absolute;
  left: 20px;
  top: -7px;
  padding: 2px;
}

.submit-button {
  padding: 1rem;
  border-radius: 50px;
  border: none;
  background-color: var(--lighter-purp);
  color: var(--white);
  transition: 0.5s;
  cursor: pointer;
}

.submit-button:hover {
  background-color: var(--pink);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.reset-password {
  padding: 1rem;
  border-radius: 50px;
  border: none;
  background-color: var(--pink);
  color: var(--white);
  transition: 0.5s;
  margin-bottom: 50px;
  cursor: pointer;
  transition: 0.5s;
}

.reset-password:hover {
  background-color: var(--purp-blue);
}

.reset-a {
  color: var(--white);
  text-decoration: none;
  font-size: 12px;
}