.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--gray);
}

.selection {
  background-color: var(--white);
  color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: row wrap;
  font-size: 12px;
}

.selection ul {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-right: 30px;
  border-right: 4px solid var(--bright-purp);
  height: 50px;
}

.selection ul:last-child {
  border-right: none;
}