.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--gray);
}

.selection {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: row wrap;
}

.selection ul {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  flex-basis: 100%;
  align-items: center;
  gap: 2rem;
  border-right: 2px solid var(--bright-purp); /* Change 'black' to any color you want */
  height: 100%; /* Adjust as needed */
}