.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--gray);
}

.list-holder {
  background-color: var(--gray);
  color: white;
}

.list-holder li {
  text-decoration: underline;
  list-style-type: none;
  margin-left: 85px;
}

.submit-button {
  margin-left: 120px;
}