/* form section */

.form-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.input-group {
  position: relative;
  margin-bottom: 20px;
}

.user-input {
  background-color: rgba(0,0,0,0);
  border: 2px solid var(--lighter-red);
  width: 300px;
  border-radius: 100px;
  padding: 8px;
  font-weight: 400;
  font-size: 18px;
  text-indent: 18px;
  color: var(--white);
}

.user-input:focus {
  outline: none;
}

.user-input-label {
  color: var(--white);
  background-color: var(--dark-red);
  font-size: 11px;
  position: absolute;
  left: 20px;
  top: -7px;
  padding: 2px;
}

.submit-button {
  margin-left: 100px;
  padding: 1rem;
  border-radius: 50px;
  border: none;
  background-color: var(--blue);
  color: var(--white);
}